<div ng-app="myApp" ng-controller="myCtrl">
	<h1>Enter your zip code to get a weather forecast</h1>

  <form name="myForm" ng-submit="getForecast()">
		<input type="text" name="zip" ng-model="input.zip" required five />

    <div ng-show="displayZipError">Not a valid zip code!</div>

    <input type="submit" value="Submit"></input>
  </form>

<!-- Change forecast response to include location name and zip -->
  <h2>Weather for: {{input.zip}}</h2>

  <div ng-repeat="cast in forecast">
  	<h3>{{cast.title}}</h3>
  	<img src="{{cast.icon_url}}">
  	<p>{{cast.fcttext}}</p>
  </div>
</div>