<!DOCTYPE html>
<html>
<head>
  <title>SimpleWeather</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://code.angularjs.org/1.3.0-rc.4/angular-messages.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
